html {
    background-color: red;
    display: flex;
}

html::before {
    content: '!! ENABLE THE LOCATION BRO !!';
    font-size: 24px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    padding: 20px;
    border-radius: 10px;
}

body {
    display: none !important;
}
