body {
    background-color: #292628;
    margin: 20px;
    padding: 0px;
    text-align: center;
}

.container {
    background: #1e1c1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

h2 {
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 10px;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #F5F5F5;
    color: black;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #E0E0E0;
    transform: scale(1.1);
}

button:active {
    transform: scale(1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

#parentMode {
    background-color: #ff6f61;
    color: white;
}

#serviceProviderMode {
    background-color: #007bff;
    color: white;
}

#parentMode:hover, #serviceProviderMode:hover {
    opacity: 0.85;
}

#code {
    display: block;
    padding: 12px 20px;
    font-size: 16px;
    background-color: #F5F5F5;
    color: black;
    border-radius: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#code:hover {
    background-color: #E0E0E0;
    transform: scale(1.05);
}
